---
import ContentPageTitle from "../components/ContentPageTitle.astro";
import ContentPage from "../layouts/ContentPage.astro";
import { frameworks, technologies } from "../util/constants";
---

<ContentPage title="Ingo Krumbein | Experience">
  <ContentPageTitle title="Tech">
    <p class="py-6">Technologies and Frameworks of my choice</p>
  </ContentPageTitle>

  <h2>Technologies</h2>
  <div
    class="grid w-full grid-cols-2 gap-8 py-8 px-0 text-center md:grid-cols-3 xl:grid-cols-4"
  >
    {
      technologies.map(({ src, title, style }) => (
        <div
          class={`rounded-lg py-2 shadow-md duration-500 hover:scale-105 ${style}`}
        >
          <img src={src} alt="" class="mx-auto w-20" />
          <p class="mt-4">{title}</p>
        </div>
      ))
    }
  </div>
  <h2>Frameworks</h2>

  <div
    class="grid w-full grid-cols-2 gap-8 py-8 px-0 text-center md:grid-cols-3 xl:grid-cols-4"
  >
    {
      frameworks.map(({ src, title, style }) => (
        <div
          class={`rounded-lg py-2 shadow-md duration-500 hover:scale-105 ${style}`}
        >
          <img src={src} alt="" class="mx-auto w-20" />
          <p class="mt-4">{title}</p>
        </div>
      ))
    }
  </div>
</ContentPage>
